<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clothing Index</title>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <h1>Edit <%= clothing.name %></h1>
    <form action="/clothing/<%=clothing._id%>?_method=PUT" method="POST">
      <fieldset>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="<%= clothing.name %>" />
      </fieldset>
      <fieldset>
        <label for="size">Size:</label>
        <input
          type="number"
          name="size"
          id="size"
          value="<%= clothing.size %>"
        />
      </fieldset>
      <fieldset>
        <label for="description">Description:</label>
        <textarea name="description" id="description">
<%= clothing.description %></textarea
        >
      </fieldset>
      <button type="submit">Update Clothing</button>
    </form>
    <a href="/clothing">Back to clothing</a>
  </body>
</html>
